name: macos

on:
  schedule:
    - cron: "0 2 * * 2"
  push:
    branches: [ main ]
    tags: [ v* ]
    paths-ignore:
      - .github/workflows/ubuntu.yml
      - .github/workflows/windows.yml
      - .github/workflows/alpine.yml
      - .github/workflows/release_tag.yml
      - Makefile.win
  pull_request:
    paths-ignore:
      - .github/workflows/ubuntu.yml
      - .github/workflows/windows.yml
      - .github/workflows/alpine.yml
      - .github/workflows/release_tag.yml
      - Makefile.win
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: '${{ github.workflow }}-${{ github.job }}-${{ github.head_ref || github.ref_name }}'
  cancel-in-progress: true

jobs:
  # https://wildwolf.name/github-actions-how-to-avoid-running-the-same-workflow-multiple-times/
  prepare:
    runs-on: ubuntu-latest
    outputs:
      head_tag: ${{ steps.check.outputs.head_tag }}
      foreign_pr: ${{ steps.check.outputs.foreign_pr }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Retrieve tags
        run: git fetch --depth=1 origin +refs/tags/*:refs/tags/* || true
      - name: Set output variables
        id: check
        run: |
          fpr="no"
          tag=""
          if [[ "${{ github.ref }}" == refs/heads/* ]]; then
            tag="$(git tag --points-at HEAD)"
          elif [[ "${{ github.ref }}" == refs/pull/* ]] && [ "${{ github.event.pull_request.head.repo.full_name }}" != "${{ github.event.pull_request.base.repo.full_name }}" ]; then
            fpr="yes"
          fi
          echo "foreign_pr=${fpr}" >> $GITHUB_OUTPUT
          echo "head_tag=${tag}" >> $GITHUB_OUTPUT

  build:
    needs: prepare
    if: (github.event_name == 'push' && needs.prepare.outputs.head_tag == '') || github.event_name == 'pull_request' || github.event_name == 'schedule'
    strategy:
      matrix:
        arch: [arm64, x86_64]
        include:
          - arch: arm64
            runner: macos-14
            binary: metanorma-darwin-arm64
#          - arch: x86_64
#            runner: macos-13
#            binary: metanorma-darwin-x86_64
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup environment
        run: cat common.env >> $GITHUB_ENV

      - name: Setup Tebako
        uses: tamatebako/tebako/.github/actions/setup-tebako@main
        with:
          cache: build
          cache_ver: ${{ env.CACHE_VER }}
          cache_path: ${{ env.TEBAKO_PREFIX }}
          ruby_version: ${{ env.RUBY_VER }}
          bundler_version: ${{ env.BUNDLER_VER }}
          xcode: ${{ matrix.arch == 'x86_64' && '15.2' || '' }}

      - name: package metanorma
        run: make build/bin/${{ matrix.binary }}

      - name: Package binary for release
        run: |
          cp build/bin/${{ matrix.binary }} ${{ matrix.binary }}
          tar -czvf ${{ matrix.binary }}.tgz ${{ matrix.binary }}
          brew install coreutils
          sha256sum ${{ matrix.binary }}.tgz | cut -d ' ' -f1 > ${{ matrix.binary }}.tgz.sha256.txt

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.binary }}
          path: |
            ${{ matrix.binary }}.tgz
            ${{ matrix.binary }}.tgz.sha256.txt

      - name: Verify packaging
        run: |
          build/bin/${{ matrix.binary }} --tebako-extract extracted_source_filesystem
          diff -r extracted_source_filesystem ${{ env.TEBAKO_PREFIX }}/o/s

      - name: Smoke test
        run: build/bin/${{ matrix.binary }} help

  build-matrix:
    uses: metanorma/ci/.github/workflows/build-sample-matrix.yml@main
    with:
      smoke: false
      flavors-only: true
      public-only: true

  test:
    needs: [build, build-matrix]
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        flavor: ${{ fromJson(needs.build-matrix.outputs.samples-matrix).flavor }}
        arch:
          - { runner: macos-14, suffix: arm64, binary: metanorma-darwin-arm64 }
          - { runner: macos-13, suffix: x86_64, binary: metanorma-darwin-x86_64 }
    runs-on: ${{ matrix.arch.runner }}
    continue-on-error: ${{ matrix.flavor.experimental }}
    steps:
      - uses: actions/checkout@v4

      - run: rm Gemfile

      - if: matrix.flavor.id == 'ietf'
        uses: metanorma/ci/xml2rfc-setup-action@main

      - uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.arch.binary }}
          path: .

      - name: Extract binary from tarball
        run: |
          tar -xzvf ${{ matrix.arch.binary }}.tgz
          chmod a+x ${{ matrix.arch.binary }}

      - uses: actions/cache@v4
        with:
          path: ~/.relaton
          key: relaton-macos-${{ matrix.flavor.id }}-${{ matrix.arch.suffix }}
          restore-keys: relaton-macos-${{ matrix.flavor.id }}

      - name: Fetch samples (${{ matrix.flavor.id }})
        uses: actions/checkout@v4
        with:
          submodules: recursive
          repository: metanorma/mn-samples-${{ matrix.flavor.id }}
          token: ${{ secrets.METANORMA_CI_PAT_TOKEN }}
          path: ${{ github.workspace }}/samples
          fetch-depth: 1

      - name: Determine config file
        id: config
        run: |
          if [ -f "samples/metanorma.test.yml" ]; then
            echo "config_file=samples/metanorma.test.yml" >> $GITHUB_OUTPUT
          elif [ -f "samples/metanorma.yml" ]; then
            echo "config_file=samples/metanorma.yml" >> $GITHUB_OUTPUT
          else
            echo "Error: Neither metanorma.test.yml nor metanorma.yml found in samples directory"
            exit 1
          fi

      - name: Test (${{ matrix.flavor.id }})
        timeout-minutes: 120
        run: |
          ./${{ matrix.arch.binary }} \
            site generate samples \
            -c ${{ steps.config.outputs.config_file }} \
            -o site-${{ matrix.flavor.id }}-${{ matrix.arch.suffix }} \
            --agree-to-terms

      - uses: actions/upload-artifact@v4
        with:
          name: site-${{ matrix.flavor.id }}-${{ matrix.arch.suffix }}
          path: site-${{ matrix.flavor.id }}-${{ matrix.arch.suffix }}

  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Download arm64 artifacts
        uses: actions/download-artifact@v4
        with:
          name: metanorma-darwin-arm64
          path: artifacts

      - name: Download x86_64 artifacts
        uses: actions/download-artifact@v4
        with:
          name: metanorma-darwin-x86_64
          path: artifacts

      - name: Move files to root for release
        run: |
          ls -alR .
          find artifacts \( -name '*.tgz' -o -name '*.tgz.sha256.txt' \) -exec cp {} . \;

      - uses: softprops/action-gh-release@v2
        with:
          files: |
            metanorma-darwin-arm64.tgz
            metanorma-darwin-arm64.tgz.sha256.txt
            metanorma-darwin-x86_64.tgz
            metanorma-darwin-x86_64.tgz.sha256.txt

      - name: Trigger homebrew-metanorma
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.METANORMA_CI_PAT_TOKEN }}
          repository: metanorma/homebrew-metanorma
          event-type: ${{ github.repository }}
          client-payload: '{ "ref": "${{ github.ref }}" }'
