name: macos

on:
  push:
    branches: [ master ]
    tags: [ '*' ]
  pull_request:
    paths-ignore:
      - .github/workflows/linux.yml
      - .github/workflows/windows.yml
      - .github/workflows/release_tag.yml
      - Makefile.win

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1

      - run: brew install shared-mime-info

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.4.1
          bundler: 2.2.3
          bundler-cache: true

      - uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: '5.16.2'

      - run: |
          curl -Lks 'https://git.io/rg-ssl' | ruby
          echo "perl -v: $(perl -v)"
          echo "clang -v: $(clang -v)"
          echo "clang++ -v: $(clang -v)"

      - run: brew install squashfs

      - run: make build/metanorma
        env:
          DEVELOPER_DIR: /Applications/Xcode_11.7.app/Contents/Developer

      - uses: actions/upload-artifact@v2
        with:
          name: metanorma-macos
          path: build/metanorma

  test:
    runs-on: macos-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        mn-proc:
          - iso
          - cc
          - un
          - iec
          - iho
          - nist
          - itu
          - m3aawg
          - mpfa
          - jcgm
          - csa
          - ribose
          - bipm
          # - ietf # wait for release of https://github.com/metanorma/metanorma-ietf/commit/ca75ea3
          # - ogc  # https://github.com/metanorma/mn-samples-ogc/issues/119
    steps:
      - uses: actions/checkout@v1

      - uses: actions/download-artifact@v2
        with:
          name: metanorma-macos
          path: build

      - run: chmod a+x build/metanorma

      - run: make test-flavor
        env:
          GITHUB_CREDENTIALS: "metanorma-ci:${{ secrets.METANORMA_CI_PAT_TOKEN }}"
          TEST_FLAVOR: ${{ matrix.mn-proc }}

      - uses: actions/upload-artifact@v2
        with:
          name: site
          path: site/**

  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: macos-latest
    needs: test
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: metanorma-macos
          path: build

      - name: Set release binary permissions
        run: |
          cp build/metanorma metanorma-darwin-x64
          chmod a+x metanorma-darwin-x64
          tar -czvf metanorma-darwin-x64.tgz metanorma-darwin-x64

      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: metanorma-darwin-x64.tgz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.METANORMA_CI_PAT_TOKEN }}
          repository: metanorma/homebrew-metanorma
          event-type: ${{ github.repository }}
          client-payload: '{ "ref": "${{ github.ref }}" }'