name: windows

on:
  push:
    branches: [ master ]
    tags: [ '*' ]
  pull_request:
    paths-ignore:
      - .github/workflows/linux.yml
      - .github/workflows/macos.yml
      - .github/workflows/release_tag.yml
      - Makefile
      - bin/build.sh

jobs:
  build:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v1

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.4'

    - run: gem -v

    - run: systeminfo

    - uses: nick-invision/retry@v1
      with:
        polling_interval_seconds: 5
        timeout_minutes: 5
        max_attempts: 3
        command: choco install --no-progress make gnuwin32-coreutils.install gzip wget git

    - run: bundle install

    - run: "%ChocolateyInstall%\\bin\\make -f Makefile.win build build/metanorma.exe SHELL=cmd"
      shell: cmd

    - run: .\\build\\metanorma.exe help

    - uses: actions/upload-artifact@v2
      with:
        name: metanorma-windows
        path: build/metanorma.exe

  test:
    runs-on: windows-2019
    strategy:
      fail-fast: false
      matrix:
        mn-proc:
          - iso
          - cc
          - un
          - iec
          - iho
          - nist
          # - ietf # wait for release of https://github.com/metanorma/metanorma-ietf/commit/ca75ea3
          # - itu  # https://github.com/relaton/relaton-bib/issues/44
          # - ogc  # https://github.com/metanorma/mn-samples-ogc/issues/119
          - m3aawg
          - mpfa
          - jcgm
          - csa
          - ribose
          - bipm
    needs: build
    steps:
      - uses: actions/checkout@v1

      - uses: actions/download-artifact@v2
        with:
          name: metanorma-windows
          path: build

      - run: .\build\metanorma.exe help

      - uses: nick-invision/retry@v1
        with:
          polling_interval_seconds: 5
          timeout_minutes: 5
          max_attempts: 3
          command: choco install --no-progress make

      - run: |
          & ${env:ChocolateyInstall}\bin\make.exe -f Makefile.win test-flavor SHELL=cmd
        env:
          GITHUB_CREDENTIALS: "metanorma-ci:${{ secrets.METANORMA_CI_PAT_TOKEN }}"
          TEST_FLAVOR: ${{ matrix.mn-proc }}

      - uses: actions/upload-artifact@v2
        with:
          name: site
          path: site/**

  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: windows-latest
    needs: test
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: metanorma-windows
          path: build

      - run: cp build/metanorma.exe metanorma-windows-x64.exe

      - if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: softprops/action-gh-release@v1
        with:
          files: metanorma-windows-x64.exe

      - name: Trigger chocolatey-metanorma
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.METANORMA_CI_PAT_TOKEN }}
          repository: metanorma/chocolatey-metanorma
          event-type: ${{ github.repository }}
          client-payload: '{ "ref": "${{ github.ref }}" }'
